@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(../images/Rectangle.png);
  background-color: #08546c;
}
.navbar {
  position: sticky;
  top: 0;
  background-image: url(../images/Rectangle.png);
  background-color: #08546c;
  z-index: 99;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  padding: 45px 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 273px;
}
.logo p {
  left: 422px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.navbarlist {
  display: inline;
  cursor: pointer;
}

.navbarlist li {
  display: inline;
  list-style-type: none;
}

.navbarlist a {
  display: inline-flex;
  padding-right: 1.5vw;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #a1b5bb;
}

.navbarlist a:hover,
.btncontacts a:hover {
  text-decoration-line: underline;
}

.btncontacts {
  margin-left: 146px;
  padding: 15px 30px;
  background: #145e76;
  border-radius: 25px;
  text-align: center;
  border-color: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  text-decoration: none;
}
.btncontacts:hover {
  background-color: #ffa63a;
}

.intro {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 246px;
}

.musa {
  width: 195px;
  height: 65px;
  left: 375px;
  top: 253px;
  background: #094556;
  border-radius: 30px;
  border: none;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 40px;
}

.introtext h2 {
  width: 537px;
  height: 240px;
  left: 375px;
  top: 358px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
  margin-bottom: 44px;
}

.introtext p {
  width: 511px;
  height: 58px;
  left: 375px;
  top: 628px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #849499;
  margin-bottom: 66px;
}
.introtext a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #b6cdd5;
  background-image: url(../images/Rectangle.png);
  background-color: #08546c;
  border-radius: 25px;
  padding: 10px 30px;
}

.btnsintro a:hover {
  color: #ffffff;
  background: #ffa63a;
}

.portfolio {
  background: #ffffff;
  padding-bottom: 200px;
}

.statistics {
  display: grid;
  gap: 1rem;
  place-items: center;
  width: 1170px;
  height: 323px;
  background: #ffffff;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  background-color: #ffffff;
  margin: 0 auto;
  transform: translateY(-150px);
  text-align: center;
}

.statistics h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #265a6a;
  align-self: center;
}

.data {
  display: flex;
  align-self: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.data span {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 22px;
  color: #08546c;
  padding-bottom: 25px;
}
.data p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  color: #08546c;
}

.services {
  padding-top: 200px;
}

.serviceblocks1main {
  transition: 0.5s all;
}

.serviceblocks1main:hover {
  background: #08546c;
}

.serviceblocks1main:hover p {
  color: #b2bbbd;
}

.serviceblocks1main:hover h2 {
  color: #ffffff;
}

.servicetexts p {
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #265a6a;
  padding-bottom: 30px;
  text-align: center;
}

.servicetexts h1 {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #08546c;
  padding-bottom: 70px;
}

.serviceblocks {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.serviceblocks1 {
  width: 275px;
  height: 251px;
  padding: 30px;
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
}

.svg-container {
  display: flex;
  align-items: center;
  position: relative;
}

.ellipse {
  position: relative;
}

.iconservice {
  position: absolute;
  z-index: 1;
  height: 20.45px;
  padding-left: 12px;
}

.serviceblocks1main h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #0f1221;
  padding-bottom: 10px;
  padding-top: 25px;
}

.serviceblocks1main p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #696969;
}

.icontv {
  height: 35px;
  fill: #08546c;
  padding-left: 1.9px;
}

.icontv svg {
  fill: #08546c;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;
  gap: 60px;
}

.features-text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  color: #08546c;
  text-align: center;
  padding-bottom: 10px;
}

.features-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #757575;
  text-align: center;
}

.faetures-block {
  display: flex;
  flex-direction: row;
  gap: 140px;
}

.f-block {
  width: 515px;
  height: 588px;
}

.f-block h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  color: #08546c;
  padding-top: 40px;
  padding-bottom: 10px;
}

.f-block p {
  width: 426px;
  left: 376px;
  top: 2819px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
  padding-bottom: 20px;
}

.f-block a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: #08546c;
  cursor: pointer;
}

.f-block a:hover {
  color: #ffa800;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Rectangle.png);
  background-color: #08546c;
  height: 730px;
}

.aboutall {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abouttext {
  margin: 0 auto;
  max-width: 557px;
}

.textabout {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 33px;
  padding-top: 33px;
}
.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #aabfc6;
}

footer {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  margin: 0 auto;
  max-width: 1175px;
}

.footerlogo1 {
  display: flex;
  justify-content: start;
  flex-direction: column;
  max-width: 344px;
}

.logof {
  display: flex;
  align-items: center;
  padding-bottom: 21px;
}
.logof p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #08546c;
}
.socials {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.socials svg {
  fill: #757575;
  margin-right: 20px;
}
.socials svg:hover {
  fill: #ffa800;
}

.footertext {
  width: 344px;
  height: 84px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
}

.ftcolumns {
  display: flex;
  flex-direction: column;
}
.ftcolumns h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
  padding-bottom: 28px;
}
.ftcolumns a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #787878;
  padding-bottom: 10px;
}

.ftcolumns a:hover{
  color: #ffa800;
}

.ftcolumns p{
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: #787878;
  padding-bottom: 10px;
}